<!--<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top bg-white">-->
<!--  <div class="col mb-3">-->
<!--    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">-->
<!--      <svg class="bi me-2" width="40" height="32">-->
<!--        <use xlink:href="#bootstrap"></use>-->
<!--      </svg>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col mb-3">-->
<!--    <h5>Section</h5>-->
<!--    <ul class="nav flex-column">-->
<!--      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trang chủ</a></li>-->
<!--    </ul>-->
<!--  </div>-->


<!--</div>-->
<footer class="section-footer bg-main footer-dark">
  <div class="container">
    <section class="footer-main padding-y">
      <div class="row">
        <aside class="col-12 col-sm-12 col-lg-3">
          <article class="me-lg-4">
          </article>
        </aside>
        <aside class="col-6 col-sm-4 col-lg-2">
          <h6 class="title">Cửa hàng</h6>
          <ul class="list-menu mb-4">
            <li> <a href="#">Về chúng tôi</a></li>
            <li> <a href="#">Tìm cửa hàng</a></li>
            <li> <a href="#">Thể loại</a></li>
            <li> <a href="#">Blogs</a></li>
          </ul>
        </aside>
        <aside class="col-6 col-sm-4 col-lg-2">
          <h6 class="title">Thông tin</h6>
          <ul class="list-menu mb-4">
            <li> <a href="#">Trung tâm trợ giúp</a></li>
            <li> <a href="#">Hoàn tiền</a></li>
            <li> <a href="#">Thông tin vận chuyển</a></li>
            <li> <a href="#">Thanh toán</a></li>
          </ul>
        </aside>
        <aside class="col-6 col-sm-4  col-lg-2">
          <h6 class="title">Hỗ trợ</h6>
          <ul class="list-menu mb-4">
            <li> <a href="#"> Trung tâm </a></li>
            <li> <a href="#"> Tài liệu </a></li>
            <li> <a href="#"> Tài khoản </a></li>
            <li> <a href="#"> Đơn hàng </a></li>
          </ul>
        </aside>
        <aside class="col-12 col-sm-12 col-lg-3">
          <h6 class="title">Thư</h6>

          <form class="mb-3">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Email">
              <button class="btn btn-light" type="submit">
                Gửi
              </button>
            </div> <!-- input-group.// -->
          </form>
        </aside>
      </div> <!-- row.// -->
    </section>  <!-- footer-top.// -->

    <section class="footer-bottom d-flex justify-content-lg-between border-top">
      <div>
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-amex"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
      </div>

    </section>
  </div> <!-- container end.// -->
</footer>
