<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 250px;">
      <div class="carousel-item active">
        <img src="/assets/4810158194504e0e1741.jpg" class="d-block w-100" alt="...">
      </div> 
      <div class="carousel-item">
        <img src="/assets/6a0187bf046ede30877f.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/841c1b929f43451d1c52.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
