<form class="bg-shadow container-fluid bg-sign " style="height: 800px;" [formGroup]="buyerForm"
      (ngSubmit)="onSubmit()">
  <div class="bg-white p-3 body-sign mx-auto row">
    <!-- cột 1 -->
    <div class="col-6 pr-4">
      <!-- Nhập username start -->
      <div class="mb-3" formGroupName="user">
        <div>Tên đăng nhập <span class="text-danger">*</span></div>
        <input type="text" class="p-2 full-width border" placeholder="Vui lòng nhập tên đăng nhập"
               (keydown)="checkUserName()" id="username"
               formControlName="username">
        <!-- Valid username start -->
        <div class="text-danger" *ngIf="checkUsername">
          Tên này đã tồn tại!!
        </div>
        <div
          *ngIf="buyerForm.controls.user.controls.username.invalid && (buyerForm.controls.user.controls.username.dirty || buyerForm.controls.user.controls.username.touched)">
          <div *ngIf="buyerForm.controls.user.controls.username.errors?.['required']" class="text-danger">
            Bạn phải tên đăng nhập
          </div>
          <div
            *ngIf="buyerForm.controls.user.controls.username.errors?.['pattern']"
            class="text-danger">
            Mật khẩu yêu cầu hoa thường chữ số ghi liền
          </div>
        </div>
        <!-- Valid username start -->
      </div>
      <!-- Nhập username end -->
      <div class="mb-3">
        <div>Số điện thoại <span class="text-danger">*</span></div>
        <input type="text" class="p-2 full-width border" placeholder="Vui lòng nhập số điện thoại"
               formControlName="phoneNumber">
        <!-- Valid number phone start -->
        <div
          *ngIf="buyerForm.controls.phoneNumber.invalid && (buyerForm.controls.phoneNumber.dirty || buyerForm.controls.phoneNumber.touched)">
          <div *ngIf="buyerForm.controls.phoneNumber.errors?.['required']" class="text-danger">
            Bạn phải nhập số điện thoại
          </div>
          <div
            *ngIf="buyerForm.controls.phoneNumber.errors?.['pattern']"
            class="text-danger">
            (phải có 10 số và bắt đầu bằng số 0)
          </div>
        </div>
        <!-- Valid number phone end -->
      </div>
      <!-- password start -->
      <div class="mb-3" formGroupName="user">
        <div>Nhập mật khẩu <span class="text-danger">*</span></div>
        <input type="password" class="p-2 full-width border" placeholder="Vui lòng nhập mật khẩu"
               formControlName="password">
        <!-- Valid mật khẩu start -->
        <div
          *ngIf="buyerForm.controls.user.controls.password.invalid && (buyerForm.controls.user.controls.password.dirty || buyerForm.controls.user.controls.password.touched)">
          <div *ngIf="buyerForm.controls.user.controls.password.errors?.['required']" class="text-danger">
            Bạn phải nhập mật khẩu
          </div>
          <div
            *ngIf="buyerForm.controls.user.controls.password.errors?.['pattern']"
            class="text-danger">
            Mật khẩu yêu cầu 6-32 kí tự có chữ hoa , thường và số
          </div>
        </div>
        <!-- Valid mật khẩu end -->
      </div>
      <!-- password end -->
      <!-- repassword start -->
      <div class="mb-3">
        <div>Nhập lại mật khẩu <span class="text-danger">*</span></div>
        <input type="password" class="p-2 full-width border" placeholder="Vui lòng nhập lại mật khẩu"
               formControlName="repassword">
        <!-- valid repassword start -->
        <div
          *ngIf="buyerForm.controls.repassword.invalid && (buyerForm.controls.repassword.dirty || buyerForm.controls.repassword.touched)">
          <div *ngIf="buyerForm.controls.repassword.errors?.['required']" class="text-danger">
            Bạn phải nhập mật khẩu
          </div>
        </div>
        <!-- valid repassword end -->
      </div>
      <!-- repassword end -->
      <div>
        Địa chỉ <span class="text-danger">*</span>
      </div>
      <!-- địa chỉ -->
      <div formGroupName="address">
        <div class="row p-0">
          <!-- Thành phố -->
          <div class="col-4 m-0" formGroupName="province">
            <label for="province">Province</label>
            <select id="province" class="list-group" formControlName="id"
                    (change)="addressService.getDistrict($event)">
              <option *ngFor="let province of addressService.province" value="{{province.id}}"
                      class="list-group-item list-group-item-action"
              >{{ province.name }}</option>
            </select>
          </div>
          <!-- Thành phố -->
          <!-- Huyện start-->
          <div class="col-4 m-0" formGroupName="district" *ngIf="addressService.district">
            <label for="district">District</label>
            <select id="district" class="list-group" formControlName="id" style="max-height: 300px;"
                    (click)="addressService.getWard($event)">
              <option class="list-group-item list-group-item-action"
                      *ngFor="let district of addressService.district" value="{{district.id}}">
                {{ district.name }}
              </option>
            </select>
          </div>
          <!-- Huyện end -->
          <!-- Xã start-->
          <div class="col-4 m-0" formGroupName="ward" *ngIf="addressService.ward">
            <label for="ward">Ward</label>
            <select id="ward" class="list-group" formControlName="id" style="max-height: 300px;"
                    (click)="addressService.getWard($event)">
              <option class="list-group-item list-group-item-action" *ngFor="let ward of addressService.ward"
                      value="{{ward.id}}">
                {{ ward.name }}
              </option>
            </select>
          </div>
          <!-- Xã end-->
        </div>
        <!-- Địa chỉ chi tiết start -->
        <div class="form-group">
          <label for="Address Detail">Chi tiết địa chỉ</label>
          <input id="Address Detail" type="text" class="form-control" placeholder="Address Detail"
                 formControlName="detail">
          <div
            *ngIf="buyerForm.controls.address.controls.detail.invalid && (buyerForm.controls.address.controls.detail.dirty || buyerForm.controls.address.controls.detail.touched)">
            <div *ngIf="buyerForm.controls.address.controls.detail.errors?.['required']"
                 class="text-danger">
              Nhập
            </div>
          </div>
        </div>
        <!-- Địa chỉ chi tiết end -->
      </div>
      <!-- địa chỉ -->
    </div>
    <!-- cột 1 -->
    <!-- cột 2  -->
    <div class="col-6 pl-4">
      <!-- tên cửa hàng start -->
      <div>
        <div>Họ và tên<span class="text-danger">*</span></div>
        <input type="text" class="p-2 full-width border" placeholder="Vui lòng nhập tên của cửa hàng"
               formControlName="name">
        <!-- valid name start -->
        <div
          *ngIf="buyerForm.controls.name.invalid && (buyerForm.controls.name.dirty || buyerForm.controls.name.touched)">
          <div *ngIf="buyerForm.controls.name.errors?.['required']" class="text-danger">
            Bạn phải nhập họ tên'
          </div>
        </div>
        <!-- valid name end -->
      </div>
      <!-- gender start -->
      <div class="form-group mb-4" formGroupName="gender">
        <label for="gender">Giới tính</label>
        <select id="gender" formControlName="id">
          <option value="{{gender.id}}" *ngFor="let gender of genderService.genders">{{gender.name}}</option>
        </select>
          <div
            *ngIf="buyerForm.controls.gender.controls.id.invalid && (buyerForm.controls.gender.controls.id.dirty || buyerForm.controls.gender.controls.id.touched)">
            <div *ngIf="buyerForm.controls.gender.controls.id.errors?.['required']" class="text-danger">
             Nhập giới tính
            </div>
          </div>
      </div>
      <!-- gender end -->
      <!-- birth start -->
      <div class="form-group mb-4">
        <label for="birth">Birth</label>
        <input id="birth" type="date" class="form-control" placeholder="Enter Birth"
               formControlName="birth">
        <div
          *ngIf="buyerForm.controls.birth.invalid && (buyerForm.controls.birth.dirty || buyerForm.controls.birth.touched)">
          <div *ngIf="buyerForm.controls.birth.errors?.['required']" class="text-danger">
            Nhập năm sinh
          </div>
        </div>
      </div>
      <!-- birth end -->


      <!-- tên cửa hàng end -->
      <!-- nút đăng ký start -->
      <button class="full-width text-center btn-big bg-main py-3 mt-3">Đăng ký</button>
      <div class="text-danger">{{ messenger }}</div>
      <!-- nút đăng ký end -->

    </div>
    <!-- cột 2 -->
  </div>
</form>

<!-- Button trigger modal -->
<button id="boottrap" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>
<!-- Modal -->
<div class="fade modal" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body border-none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <body class="text-center pt-5">
        <div class="text-success mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
               class="bi bi-check2-circle"
               viewBox="0 0 16 16">
            <path
              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path
              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>
        </div>
        <h1>Đăng ký thành công</h1>
        </body>
      </div>
      <div class="text-center p-3">
        Chuyển tới trang <a href="/login" class="text-main">Đăng nhập</a>
      </div>
    </div>
  </div>
</div>
