<div class="row row-cols-auto p-3">
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>
    <div class="col-2 card p-3">
        <img class="card-img rounded-circle" src="https://nhadatanphu.com.vn/image/images/39%20Ng%C3%A0y%20(7).png" alt="">
        <p class="text-center">Name</p>
    </div>

</div>
