<div class="bg-light">
  <div class="row">
        <div class="col-9 px-4">
      <div class="input-group mb-3">
        <form #searchProduct="ngForm" (keydown)="onSubmit(searchName)" class="row">
          <input name="search" [(ngModel)]="searchName" type="text" class="form-control col-8"
                 placeholder="Tìm kiếm nhân viên">
          <a class="btn-main col-4" type="">Tìm kiếm</a>
        </form>
      </div>
      <!-- bảng start -->
      <table class="table bg-white">
        <thead>
        <tr>
          <th class="text-center align-middle" scope="col">ID</th>
          <th class="text-center align-middle" scope="col">Tên</th>
          <th class="text-center align-middle" scope="col">Chức vụ</th>
          <th class="text-center align-middle" scope="col">Trạng thái</th>
          <th class="text-center align-middle" scope="col">Số điện thoại</th>
          <th class="text-center align-middle" scope="col">Vai trò</th>
          <th scope="col" class="text-center align-middle" >Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of adminService.page.content ">
          <th class="text-center align-middle">{{a.id}}</th>
          <td><a href="/employee/detail/{{a.id}}" class="text-dark">{{a.name}}</a></td>
          <td class="text-center align-middle">{{a.position.name}}</td>
          <td class="text-center align-middle">{{a.user.status.name}}</td>
          <td class="text-center align-middle">{{a.phoneNumber}}</td>
          <td class="text-center align-middle">{{a.user.role.name}}</td>
          <td class="text-center align-middle">
            <a class="btn-main" href="/employee/detail/{{a.id}}">Sửa</a>
          </td>
          <td>

          </td>
        </tr>
        </tbody>
      </table>
      <!-- bảng end -->
      <!-- điều trang start -->
      <div class="d-flex justify-content-center">
        <a type="button" class="btn-main mx-2" (click)="adminService.preePage()"
          [ngClass]="{'d-none' : adminService.page.first }">Trang trước</a>
        <a type="button" class="btn-main mx-2" *ngFor="let i of adminService.pageControl"
          (click)="adminService.getListEmployee(i)" [ngClass]="{'active' : i == adminService.page.pageable.pageNumber}">
          {{i+1}}
        </a>
        <a type="button" class="btn-main mx-2" (click)="adminService.nextPage()"
          [ngClass]="{'d-none' : adminService.page.last }"> Trang sau</a>
      </div>
      <!-- điều trang end -->
    </div>
  </div>
</div>
