
#container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}
#body{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
}
.content{
    width: 750px;
    // background-color: aqua;
}
.info{
    margin-top: 20px;
}
.d-left{
    width: 100px;
    text-align: left;
    padding-left: 10px;
}
.d-right{
    padding-right: 20px;
    width: 300px;
    text-align: right;
    font-size: 12px;
}
.rate{
    font-weight: 700;
}
#price{
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.043);
    border-radius: 5px;
}
#old-price{
    text-decoration-line: line-through;
    width: 150px;
}
.new-price{
    font-size: 25px;
    width: 150px;
    width: 600px;
    text-align: left;
}
.new-price span{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.voucher{
    border: none;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-right: 10px;
}
// .title-info{
//     width: 200px;
// }
td{
    height: 60px;
    text-align: left;
}
.btn-quantity{
    border: 1px solid black;
}
.btn-quantity:hover {
    background-color: rgba(89, 89, 204, 0.493);
    color: white;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-cart{
    background-color: rgba(255, 166, 0, 0.265);
    padding: 10px;
    color: rgb(255, 77, 0);
}
.btn-cart:hover{
    background-color: rgb(255, 77, 0);
    color: white;
}
.btn-buy{
    background-color: rgb(255, 77, 0);
    color: white;
    padding: 10px;
}
.btn-buy:hover{
    background-color: rgba(255, 77, 0, 0.742);;
}
.description ,.specifications{
    background-color: white;
    margin: 20px;
    padding: 30px;
}
hr{
    width: 100%;
}
.select{
    box-shadow: 0px 0px 15px rgb(255, 77, 0);
    font-size: 15px;
}
.available{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.466);
    margin-left: 50px
}

//>> img start
.img-body{
    width: 400px;
    height: 400px;
    background-color: rgb(183, 183, 183);

}
.img-body img {
    width: 100%;
    height: 100%;
}
.img-child{
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: rgba(162, 162, 162, 0.068);
}
.pree-img,.next-img{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    color: white;
    padding-top:20px;
    height: 100%;
    z-index: 1;
}
.pree-img:hover,.next-img:hover{
    background-color: rgba(0, 0, 0, 0.151);
}
.pree-img{
    left: 0px;
}
.next-img{
    right: 0px;
}
.img-footer{
    height: 80px;
    width: 400px;
    position: relative;
}
.img-child img {
    width: 100%;
    height: 100%;
}
.selected{
    border: 2px solid rgb(255, 77, 0);
    padding: 0px;
}
// img end

// drop drag start
.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
// drop drag end

.imgMain:hover > a{
    display: block !important;
}
