<div class="container-xxl px-0 bg-light" *ngIf="false">
  <app-header class=""></app-header>
  <div class="row mt-4">
    <app-nav class="flex-shrink-0 p-3 bg-white col-3 shadow mt-3"></app-nav>
    <div class="col-9 p-5" *ngIf="service.product">
      <!--      body-->
      <h4>Thông Tin Chi Tiết Sản Phẩm</h4>
      <table class="table">
        <tBody>
          <br>
          <br>
          <tr>
            <th class="align-middle">STT</th>
            <td class="align-middle">{{service.product.id}}</td>
          </tr>
          <tr>
            <th class="align-middle">Tên</th>
            <td class="align-middle">{{service.product.name}}</td>
          </tr>
          <tr>
            <th class="align-middle">Giá</th>
            <td class="align-middle">{{service.product.price}}</td>
          </tr>
          <tr>
            <th class="align-middle">Số lượng đã bán</th>
            <td class="align-middle">{{service.product.sold}}</td>
          </tr>
          <tr>
            <th class="align-middle">Mô tả</th>
            <td class="align-middle">{{service.product.description}}</td>
          </tr>
          <tr>
            <th class="align-middle">Số lượng</th>
            <td class="align-middle">{{service.product.quantity}}</td>
          </tr>
          <tr>
            <th class="align-middle">Ảnh</th>
            <td class="align-middle"><img *ngFor="let p of service.product.picture" src="{{p.name}}" class="px-2"
                style="height: 100px; width: 100px;border-radius: 5px" alt=""></td>
          </tr>
          <tr>
            <th class="align-middle">Loại Sản Phẩm</th>
            <td class="align-middle">{{service.product.category.name}}</td>
          </tr>
          <tr>
            <th class="align-middle">Trạng Thái</th>
            <td class="align-middle">{{service.product.status.name}}</td>
          </tr>

        </tBody>

      </table>
      <!--      body-->
    </div>
  </div>
  <app-footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top bg-white"></app-footer>
</div>

<div id="container-fluid" *ngIf="true">
  <div id="header">
    <app-header></app-header>
  </div>
  <!-- body start -->
  <div class="p-5 bg-light" *ngIf="service.product">
    <!-- product detail start -->
    <div id="body" class="d-flex justify-content-between p-3">
      <!-- img start -->
      <div class="img pr-3">
        <div class="img-body">
          <img src="{{ imgMain }}">
        </div>
        <div class="img-footer d-flex flex-row">
          <div>
            <!-- <a class="pree-img">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </a> -->
            <!-- <a class="next-img">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </a> -->
          </div>

          <!-- img footer start -->
          <div class="img-child" [ngClass]="{'selected' : imgMain == img.name}" *ngFor="let img of service.product.picture">
            <a (click)="getPicture(img)">
              <img src="{{ img.name }}">
            </a>
          </div>
          <!-- img footer end -->

        </div>
      </div>
      <!-- img end -->

      <!-- content start -->
      <div class="content px-4">
        <div class="h3">{{ service.product.name }}</div>
        <div class="d-flex justify-content-between align-items-center">
          <!-- <div class="rate d-left font-main-color d-flex justify-content-between align-items-center">
          <span>{{ 4.3 }}</span>
        </div>
        | -->
          <!-- <div class="rate-number d-left">
          {{ 3423 }} <small>Đánh giá</small>
        </div>
        | -->
          <div class="sold d-left">
            {{ service.product.sold }} <small>Đã bán</small>
          </div>
          <div class="report d-right">
            <a href="" class="text-decoration-none">Report</a>
          </div>
        </div>
        <!-- price start -->
        <div id="price">
          <div class="d-flex justify-content-between align-items-center pt-2">
            <!-- <div id="old-price" *ngIf="false">
            {{ 100000 | currency: 'VND' }}
          </div> -->
            <div class="new-price font-main-color text-main">
              {{ service.product.price | currency: 'VND' }}
              <!-- <span class="sale background-main-color" *ngIf="false">
              {{100 | number : '1.0-0'}}% OFF
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                <path
                  d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                <path
                  d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
              </svg>
            </span> -->
            </div>
          </div>
        </div>
        <!-- price end -->

        <table class="info">
          <tBody>

            <!-- voucher start -->
            <!-- <tr *ngIf="false">
            <td>
              Shop Vouchers
            </td>
            <td class="col-7">
              <button class="voucher background-main-color" [ngClass]="{'select': true}">
                {{ 'renderString(voucher.value)' }}
              </button>
            </td>
          </tr> -->
            <!-- voucher end -->

            <!-- ship start -->
            <tr>
              <td class="col-5">
                Giao hàng
              </td>
              <td class="col-7">
                <img style="width: 20px;"
                  src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/74f3e9ac01da8565c3baead996ed6e2a.png"
                  alt="">
                Miễn phí giao hàng
              </td>
            </tr>
            <!-- ship end -->

            <!-- color start -->
            <!-- <tr>
              <td class="col-5">
                Color
              </td>
              <td class="col-7">
                <button class="btn active btn-outline-primary">kho</button>
              </td>
            </tr> -->
            <!-- color end -->


            <!-- số lượng start -->
            <tr>
              <td class="col-5">
                Số lượng
              </td>
              <td class="col-7 ">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a type="button" class="bg-white text-1 border px-3 py-2"
                  (click)="setAmount(amount - 1)">-</a>
                  <input style="width: 40px; text-align: center;" type="number" [(ngModel)]="amount">
                  <a type="button" class="bg-white text-1 border px-3 py-2"
                  (click)="setAmount(amount + 1)">+</a>
                </div>
              </td>
            </tr>
            <!-- số lượng end -->

          </tBody>
        </table>
        <div style="margin-top: 20px">
          <button type="button" class="btn btn-cart" style="margin-right: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus"
              viewBox="0 0 16 16">
              <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            Thêm vào giỏ hàng
          </button>
          <button type="button" class="btn btn-buy">Mua ngay</button>
          <span class="available"> còn {{ service.product.quantity }} sản phẩm</span>
        </div>
      </div>
      <!-- content end -->
    </div>
    <!-- product detail end -->

    <!-- Product owner -->
    <div class="specifications">

    </div>
    <!-- Product owner -->

    <!-- Description start -->
    <div class="description">
      <h3>Thông tin chi tiết sản phẩm</h3>
      <hr>
      <div class="blockquote" [innerHTML]="service.product.description">
      </div>
    </div>
    <!-- Description end -->


  </div>
  <!-- body end -->

</div>