<div class="container-xxl px-0 bg-light" *ngIf="false">
  <app-header class=""></app-header>
  <div class="row mt-4">
    <app-nav class="flex-shrink-0 p-3 bg-white col-3 shadow mt-3"></app-nav>
    <div class="col-9 p-5" *ngIf="service.product">
      <!--      body-->
      <h4>Thông Tin Chi Tiết Sản Phẩm</h4>
      <table class="table">
        <tBody>
          <br>
          <br>
          <tr>
            <th class="align-middle">STT</th>
            <td class="align-middle">{{service.product.id}}</td>
          </tr>
          <tr>
            <th class="align-middle">Tên</th>
            <td class="align-middle">{{service.product.name}}</td>
          </tr>
          <tr>
            <th class="align-middle">Giá</th>
            <td class="align-middle">{{service.product.price}}</td>
          </tr>
          <tr>
            <th class="align-middle">Số lượng đã bán</th>
            <td class="align-middle">{{service.product.sold}}</td>
          </tr>
          <tr>
            <th class="align-middle">Mô tả</th>
            <td class="align-middle">{{service.product.description}}</td>
          </tr>
          <tr>
            <th class="align-middle">Số lượng</th>
            <td class="align-middle">{{service.product.quantity}}</td>
          </tr>
          <tr>
            <th class="align-middle">Ảnh</th>
            <td class="align-middle"><img *ngFor="let p of service.product.picture" src="{{p.name}}" class="px-2"
                style="height: 100px; width: 100px;border-radius: 5px" alt=""></td>
          </tr>
          <tr>
            <th class="align-middle">Loại Sản Phẩm</th>
            <td class="align-middle">{{service.product.category.name}}</td>
          </tr>
          <tr>
            <th class="align-middle">Trạng Thái</th>
            <td class="align-middle">{{service.product.status.name}}</td>
          </tr>

        </tBody>

      </table>
      <!--      body-->
    </div>
  </div>
  <app-footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top bg-white"></app-footer>
</div>

<div id="container-fluid" *ngIf="true">
  <div id="header">
    <app-header></app-header>
  </div>
  <!-- body start -->
  <div class="p-5 bg-light" *ngIf="service.product">
    <!-- product detail start -->
    <div id="body" class="d-flex justify-content-between p-3">
      <!-- img start -->
      <div class="col-4 pr-3">
        <div class="img-body">
          <img src="{{ imgMain }}">
        </div>
        <div class="img-footer d-flex flex-row">
          <div>
          </div>

          <!-- img footer start -->
          <div class="img-child" [ngClass]="{'selected' : imgMain == img.name}"
            *ngFor="let img of service.product.picture">
            <a (click)="getPicture(img)">
              <img src="{{ img.name }}">
            </a>
          </div>
          <!-- img footer end -->

        </div>
      </div>
      <!-- img end -->

      <!-- content start -->
      <!-- content customer, buyer start -->
      <div *ngIf="(roleService.role == 'CUSTOMER') || (roleService.role == 'BUYER')" class="col-7 px-5">
        <div class="h3">{{ service.product.name }}</div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="text-1">
            <small>Đã bán {{ service.product.sold }} Sản phẩm</small>
          </div>
        </div>
        <!-- price start -->
        <div id="full-width">
          <div class="d-flex justify-content-between align-items-center pt-2">
            <h1 class="px-5 text-main bg-shadow full-width rounded py-2">
              {{ service.product.price | currency: 'VND' }}
            </h1>
          </div>
        </div>
        <!-- price end -->

        <table class="info">
          <tBody>

            <!-- ship start -->
            <tr>
              <td class="col-5">
                Giao hàng
              </td>
              <td class="col-7">
                <img style="width: 20px;"
                  src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/74f3e9ac01da8565c3baead996ed6e2a.png"
                  alt="">
                Miễn phí giao hàng
              </td>
            </tr>
            <!-- ship end -->

            <tr>
              <td class="col-5">
                Thể loại
              </td>
              <td class="col-7">
                {{ service.product.category.name }}
              </td>
            </tr>
            <!-- số lượng start -->
            <tr>
              <td class="col-5">
                Số lượng
              </td>
              <td class="col-7 ">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a type="button" class="bg-white text-1 border px-3 py-2"
                    (click)="service.setAmount(service.amount - 1)">-</a>
                  <input style="width: 40px" class="border text-center" type="number" [(ngModel)]="service.amount">
                  <a type="button" class="bg-white text-1 border px-3 py-2"
                    (click)="service.setAmount(service.amount + 1)">+</a>
                </div>
                <p class="text-danger">{{ service.amountMessage }}</p>
              </td>
            </tr>
            <!-- số lượng end -->

          </tBody>
        </table>
        <div style="margin-top: 20px">
          <button [disabled]="service.amount <= 0 " (click)="service.toCart()" type="button" class="btn btn-cart" style="margin-right: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus"
              viewBox="0 0 16 16">
              <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            Thêm vào giỏ hàng
          </button>
          <button type="button" class="btn btn-buy">Mua ngay</button>
          <span class="available"> còn {{ service.product.quantity }} sản phẩm</span>
        </div>
      </div>
      <!-- content customer, buyer end-->

      <!-- content seller, employee, admin start -->
      <div *ngIf="(roleService.role == 'ADMIN') || (roleService.role == 'SELLER') || (roleService.role == 'EMPLOYEE')"
        class="col-7 px-5">
        <table class="table table-bordered">
          <tBody>
            <tr>
              <th class="align-middle"> ID Sản phẩm</th>
              <td class="text-center align-middle"> {{ service.product.id }}</td>
            </tr>
            <tr>
              <th class="align-middle"> Tên </th>
              <td class="text-center align-middle"> {{ service.product.name }}</td>
            </tr>
            <tr>
              <th class="align-middle"> Thể loại </th>
              <td class="text-center align-middle"> {{ service.product.category.name }}</td>
            </tr>
            <tr>
              <th class="align-middle"> Giá </th>
              <td class="text-center align-middle"> {{ service.product.price }}</td>
            </tr>
            <tr>
              <th class="align-middle"> Số lượng đã bán </th>
              <td class="text-center align-middle"> {{ service.product.sold }}</td>
            </tr>
            <tr>
              <th class="align-middle"> Tồn kho </th>
              <td class="text-center align-middle"> {{ service.product.quantity }}</td>
            </tr>
            <tr>
              <th class="align-middle"> Trạng thái </th>
              <td class="text-center align-middle"> {{ service.product.status.name }}</td>
            </tr>
          </tBody>
        </table>
        <a class="btn-main" data-bs-toggle="modal" data-bs-target="#exampleModal">Cập nhật ảnh</a>
        <a href="/product/edit/{{roleService.role}}/{{service.product.id}}" class="btn-main">Cập nhật thông tin</a>
      </div>
      <!-- content seller, employee, admin end -->




      <!-- content end -->
    </div>
    <!-- product detail end -->

    <!-- Product owner -->
    <div class="specifications" *ngIf="service.seller">
      <div class="row row-cols-auto px-3">
        <img class="rounded-circle border col ml-2" style="width: 50px; height: 50px;"
          src="https://media.istockphoto.com/vectors/house-leaf-icon-vector-id867412416?k=6&m=867412416&s=170667a&w=0&h=q_RQ3t3ID6RyRH4299mDGigEIOd9GcY_6GDlhSqfkMo="
          alt="">
        <div class="col h5 p-3">{{ service.seller.name }}</div>
      </div>

    </div>
    <!-- Product owner -->

    <!-- Description start -->
    <div class="description">
      <h1>Thông tin chi tiết sản phẩm</h1>
      <hr>
      <div class="blockquote" [innerHTML]="service.product.description">
      </div>
    </div>
    <!-- Description end -->


  </div>
  <!-- body end -->

</div>

<!-- model start -->
<!-- Modal -->
<div *ngIf="service.product" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa ảnh</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row row-cols-auto">
        <div style="height: 350px; width: 350px" class="imgMain border p-2 col position-relative">
          <img src="{{imgMain}}" alt="" class="full-size rounded">
          <a class="d-none position-absolute bg-main text-white bottom-0 start-0 full-width py-3"
            (click)="service.setAvatar()">Đặt làm đại diện</a>
        </div>
        <!-- list ảnh start -->
        <div class="col-6 row row-cols-auto">
          <div class="col p-2 m-1 border position-relative" style="width: 100px; height: 100px;"
            [ngClass]="{'selected' : imgMain == img.name}" *ngFor="let img of service.product.picture; let i = index">
            <span (click)="service.deletePicture(i)"
              class="position-absolute top-0 start-100 translate-middle p-2 text-danger">
              <svg class="bi bi-x-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
              </svg>
            </span>

            <a (click)="getPicture(img); service.indexImg = i">
              <img src="{{ img.name }}" class="full-size">
            </a>
          </div>
        </div>
        <!-- list ảnh end -->
        <div class="col">
          <label for="file-input" type="button" class="btn-main">Thêm ảnh</label>
          <a type="button" class="btn-main" (click)="service.savePicture()">Lưu thay đổi</a>
          <p class="text-success text-center" [innerHTML]="service.pictrueMessenge"></p>
          <input id="file-input" class="d-none" multiple type="file" (change)="service.selectPicture($event)">
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- model end -->


<!-- modal cart start -->
<!-- Button trigger modal -->
<button id="modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>
<!-- Modal -->
<div class="fade modal" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body border-none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <body class="text-center pt-5">
        <div class="text-success mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
               class="bi bi-check2-circle"
               viewBox="0 0 16 16">
            <path
              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path
              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>
        </div>
        <h1>Thêm vào giỏ hàng thành công</h1>
        <div>Đi đến <a class="text-main" href="/cart">giỏ hàng</a></div>
        </body>
      </div>
      <div class="text-center p-3">
        
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<!-- modal cart end -->