<!--<body class="text-center">-->

<!--    <main class="form-signin w-100 m-auto">-->
<!--        <div>-->
<!--            <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<!--            <h1 class="h3 mb-3 fw-normal">Đăng nhập</h1>-->

<!--            <div class="form-floating">-->
<!--                <input [(ngModel)]="user.username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
<!--                <label for="floatingInput">Tài khoản</label>-->
<!--            </div>-->
<!--            <div class="form-floating">-->
<!--                <input [(ngModel)]="user.password" type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--                <label for="floatingPassword">Mật khẩu</label>-->
<!--            </div>-->
<!--            <div class="text-danger">{{loginMessage}}</div>-->
<!--            <div class="checkbox mb-3">-->
<!--                <label>-->
<!--                    <input type="checkbox" value="remember-me"> Remember me-->
<!--                </label>-->
<!--            </div>-->
<!--            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="submit()" >Đăng nhập</button>-->
<!--            <p class="mt-5 mb-3 text-muted">© 2017–2022</p>-->
<!--        </div>-->
<!--    </main>-->
<!--</body>-->
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" h></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Đăng nhập</h3>

              <!-- Sign In Form -->
              <div class="form-floating mb-3">

                <input [(ngModel)]="user.username" type="email" class="form-control" id="floatingInput" placeholder="Tên đăng nhập" >
                <label for="floatingInput">Tên đăng nhập</label>
              </div>

              <div class="form-floating mb-3">

                <input [(ngModel)]="user.password"  type="password" class="form-control" id="floatingPassword" placeholder="Mật khẩu" >

                <label for="floatingPassword">Mật khẩu</label>
              </div>

              <div class="d-grid">
                <button style='background-color: orangered' class="w-100 btn btn-lg btn-primary" type="submit" (click)="submit()" >Đăng nhập</button>
                <div class="text-center">
                  Chưa có tài khoản <a class="small" href="/signup/buyer">đăng ký ngay</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
