<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto" *ngIf="roleService.role">
    <li class="nav-item" *ngFor="let n of nav; let i = index">
        <a href="{{n.path}}" class="nav-link" aria-current="page" (click)="choice = i" [ngClass]="{'active' : i == navService.choice}">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#home"></use>
            </svg>
            {{n.name}}
        </a>
    </li>
</ul>
<hr>