
<div class="col-8 mx-auto">
  <label for="inputPassword5" class="form-label">Mật khẩu cũ</label>
  <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  <label for="inputPassword6" class="form-label mt-4">Mật khẩu mới</label>
  <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpBlock">
  <label for="inputPassword7" class="form-label">Nhập lại mật khẩu</label>
  <input type="password" id="inputPassword7" class="form-control" aria-describedby="passwordHelpBlock">
  <button class="btn btn-danger mt-3">Đổi mật khẩu</button>
  <p class="text-success" >Đổi mât khẩu thành công</p>
  <p class="text-danger" >{{messageError}}</p>
</div>

