<app-header></app-header>
<form class="bg-shadow container-fluid bg-sign " style="height: 800px;" [formGroup]="sellerForm"
      (ngSubmit)="onSubmit()">
  <div class="bg-white p-3 body-sign mx-auto row">
    <!-- cột 1 -->
    <div class="col-6 pr-4">
      <!-- Nhập username start -->
      <div class="mb-3" formGroupName="user">
        <div>Tên đăng nhập <span class="text-danger">*</span></div>
        <input type="text" class="p-2 full-width border" placeholder="Vui lòng nhập tên đăng nhập"
               (keydown)="checkUserName()" id="username"
               formControlName="username">
        <!-- Valid username start -->
        <div class="text-danger" *ngIf="checkUsername">
          Tên này đã tồn tại!!
        </div>
        <div
          *ngIf="sellerForm.controls.user.controls.username.invalid && (sellerForm.controls.user.controls.username.dirty || sellerForm.controls.user.controls.username.touched)">
          <div *ngIf="sellerForm.controls.user.controls.username.errors?.['required']" class="text-danger">
            Bạn phải tên đăng nhập
          </div>
          <div
            *ngIf="sellerForm.controls.user.controls.username.errors?.['pattern']"
            class="text-danger">
            Mật khẩu yêu cầu hoa thường chữ số ghi liền
          </div>
        </div>
        <!-- Valid username start -->
      </div>
      <!-- Nhập username end -->
      <div class="mb-3">
        <div>Số điện thoại <span class="text-danger">*</span></div>
        <input type="text" class="p-2 full-width border" placeholder="Vui lòng nhập số điện thoại"
               formControlName="phoneNumber">
        <!-- Valid number phone start -->
        <div
          *ngIf="sellerForm.controls.phoneNumber.invalid && (sellerForm.controls.phoneNumber.dirty || sellerForm.controls.phoneNumber.touched)">
          <div *ngIf="sellerForm.controls.phoneNumber.errors?.['required']" class="text-danger">
            Bạn phải nhập số điện thoại
          </div>
          <div
            *ngIf="sellerForm.controls.phoneNumber.errors?.['pattern']"
            class="text-danger">
            (phải có 10 số và bắt đầu bằng số 0)
          </div>
        </div>
        <!-- Valid number phone end -->
      </div>
      <!-- password start -->
      <div class="mb-3" formGroupName="user">
        <div>Nhập mật khẩu <span class="text-danger">*</span></div>
        <input type="password" class="p-2 full-width border" placeholder="Vui lòng nhập mật khẩu"
               formControlName="password">
        <!-- Valid mật khẩu start -->
        <div
          *ngIf="sellerForm.controls.user.controls.password.invalid && (sellerForm.controls.user.controls.password.dirty || sellerForm.controls.user.controls.password.touched)">
          <div *ngIf="sellerForm.controls.user.controls.password.errors?.['required']" class="text-danger">
            Bạn phải nhập mật khẩu
          </div>
          <div
            *ngIf="sellerForm.controls.user.controls.password.errors?.['pattern']"
            class="text-danger">
            Mật khẩu yêu cầu 6-32 kí tự có chữ hoa , thường và số
          </div>
        </div>
        <!-- Valid mật khẩu end -->
      </div>
      <!-- password end -->
      <!-- repassword start -->
      <div class="mb-3">
        <div>Nhập lại mật khẩu <span class="text-danger">*</span></div>
        <input type="password" class="p-2 full-width border" placeholder="Vui lòng nhập lại mật khẩu"
               formControlName="repassword">
        <!-- valid repassword start -->
        <div
          *ngIf="sellerForm.controls.repassword.invalid && (sellerForm.controls.repassword.dirty || sellerForm.controls.repassword.touched)">
          <div *ngIf="sellerForm.controls.repassword.errors?.['required']" class="text-danger">
            Bạn phải nhập mật khẩu
          </div>
        </div>
        <!-- valid repassword end -->
      </div>
      <!-- repassword end -->
      <div>
        Địa chỉ <span class="text-danger">*</span>
      </div>
      <!-- địa chỉ -->
      <div class="row p-0">
        <!-- Thành phố -->
        <div class="dropdown col-4 m-0">
          <button class="dropbtn border bg-white py-2 full-width text-1 d-flex justify-content-between">
            {{ serviceAddress.address.province.name }}
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
              </svg>
            </span>
          </button>
          <div class="dropdown-content border bg-white">
            <div class="list-group">
              <a *ngFor="let province of serviceAddress.province" class="list-group-item list-group-item-action"
                 (click)="serviceAddress.getDistrict(province)">{{ province.name }}</a>
            </div>
          </div>
        </div>
        <!-- Thành phố -->
        <!-- Huyện start-->
        <div class="dropdown col-4 m-0">
          <button class="dropbtn border bg-white py-2 full-width text-1 d-flex justify-content-between">
            {{ serviceAddress.address.district.name }}
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
              </svg>
            </span>
          </button>
          <div class="dropdown-content border bg-white">
            <div class="list-group " style="max-height: 300px;">
              <a class="list-group-item list-group-item-action" *ngFor="let district of serviceAddress.district"
                 (click)="serviceAddress.getWard(district)">
                {{ district.name }}
              </a>
            </div>
          </div>
        </div>
        <!-- Huyện end -->
        <!-- Xã start-->
        <div class="dropdown col-4 m-0">
          <button class="dropbtn border bg-white py-2 full-width text-1 d-flex justify-content-between">{{
            serviceAddress.address.ward.name }}
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
              </svg>
            </span>
          </button>
          <div class="dropdown-content border bg-white">
            <div class="list-group">
              <a class="list-group-item list-group-item-action" *ngFor="let ward of serviceAddress.ward"
                 (click)="serviceAddress.address.ward = ward">
                {{ ward.name }}
              </a>
            </div>
          </div>
        </div>
        <!-- Xã end-->
      </div>
      <div class="text-danger">{{ addressMessage }}</div>
      <!-- Địa chỉ chi tiết start -->
      <div class="mt-3">
        <div>
          Địa chỉ chi tiết (Số nhà/Đường)<span class="text-danger">*</span>
        </div>
        <input type="text" class="p-2 full-width border" placeholder="Vui lòng nhập số nhà / Đường"
               formControlName="addressDetail">
        <div
          *ngIf="sellerForm.controls.addressDetail.invalid && (sellerForm.controls.addressDetail.dirty || sellerForm.controls.addressDetail.touched)">
          <div *ngIf="sellerForm.controls.addressDetail.errors?.['required']" class="text-danger">
            Bạn phải địa chỉ chi tiết
          </div>
        </div>
      </div>
      <!-- Địa chỉ chi tiết end -->
      <!-- địa chỉ -->
    </div>
    <!-- cột 1 -->
    <!-- cột 2  -->
    <div class="col-6 pl-4">
      <!-- tên cửa hàng start -->
      <div>
        <div>Tên cửa hàng<span class="text-danger">*</span></div>
        <input type="text" class="p-2 full-width border" placeholder="Vui lòng nhập tên của cửa hàng"
               formControlName="name">
        <!-- valid name start -->
        <div
          *ngIf="sellerForm.controls.name.invalid && (sellerForm.controls.name.dirty || sellerForm.controls.name.touched)">
          <div *ngIf="sellerForm.controls.name.errors?.['required']" class="text-danger">
            {{seller?'Bạn phải nhập tên cửa hàng': 'Bạn phải nhập họ tên'}}
          </div>
        </div>
        <!-- valid name end -->
      </div>
      <!-- tên cửa hàng end -->
      <!-- nút đăng ký start -->
      <button class="full-width text-center btn-big bg-main py-3 mt-3">Đăng ký</button>
      <div class="text-danger">{{ messenger }}</div>
      <!-- nút đăng ký end -->

    </div>
    <!-- cột 2 -->
  </div>
</form>

<!-- Button trigger modal -->
<button id="boottrap" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>
<!-- Modal -->
<div class="fade modal" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body border-none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <body class="text-center pt-5">
        <div class="text-success mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
               class="bi bi-check2-circle"
               viewBox="0 0 16 16">
            <path
              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path
              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>
        </div>
        <h1>Đăng ký thành công</h1>
        </body>
      </div>
      <div class="text-center p-3">
        Chuyuyển tới trang <a href="/" class="text-main">đăng nhập</a>
      </div>
    </div>
  </div>
</div>
