/* You can add global styles to this file, and also import other style files */
.product .card:hover{
    box-shadow: 0px 0px 3px black;
}


// Your variable overrides
$body-bg: #000;
$body-color: #111;
// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "../node_modules/bootstrap/scss/variables.scss";
