/* You can add global styles to this file, and also import other style files */
.product .card:hover{
    box-shadow: 0px 0px 3px black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//>> bg start
.bg-shadow{
  background-color: rgb(238, 239, 244);
}
.bg-main{
  background-color: rgb(255, 94, 0);
}
// bg end
//>> size start
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
//size end
//>>sign start
.body-sign{
  width: 800px;
}
.bg-sign{
  padding-top: 5%;
}
//sign end

//>> hidend input arrow
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
//hidend input arrow
//>>text start
.text-1{
  color: #00000084;
}
.text-main{
  color: rgb(255, 94, 0);;
}
a{
  text-decoration : none;
}
//text end
//>>btn start
.btn-big{
  border : none;
  color: white;
  size: 20px;
}
//btn end


