<!--<app-header-default></app-header-default>-->
<div class='p-5 bg-light' *ngIf='service.product'>
  <!-- product detail start -->
  <div id='body' class='d-flex justify-content-between p-3'>
    <!-- img start -->
    <div class='col-4 pr-3'>
      <div class='img-body'>
        <img src='{{ imgMain }}'>
      </div>
      <div class='img-footer d-flex flex-row'>
        <div>
        </div>

        <!-- img footer start -->
        <div class='img-child' [ngClass]="{'selected' : imgMain == img.name}"
             *ngFor='let img of service.product.picture'>
          <a (click)='getPicture(img)'>
            <img src='{{ img.name }}'>
          </a>
        </div>
        <!-- img footer end -->

      </div>
    </div>
    <!-- img end -->

    <!-- content start -->
    <!-- content customer, buyer start -->
    <div *ngIf="(roleService.role == 'CUSTOMER') || (roleService.role == 'BUYER')" class='col-7 px-5'>
      <div class='h3'>{{ service.product.name }}</div>
      <div class='d-flex justify-content-between align-items-center'>
        <div class='text-1'>
          <small>Đã bán {{ service.product.sold }} Sản phẩm</small>
        </div>
      </div>
      <!-- price start -->
      <div id='full-width'>
        <div class='d-flex justify-content-between align-items-center pt-2'>
          <h1 class='px-5 text-main bg-shadow full-width rounded py-2'>
            {{ service.product.price | currency: 'VND' }}
          </h1>
        </div>
      </div>
      <!-- price end -->

      <table class='info'>
        <tBody>

        <!-- ship start -->
        <tr>
          <td class='col-5'>
            Giao hàng
          </td>
          <td class='col-7'>
            <img style='width: 20px;'
                 src='https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/74f3e9ac01da8565c3baead996ed6e2a.png'
                 alt=''>
            Miễn phí giao hàng
          </td>
        </tr>
        <!-- ship end -->

        <tr>
          <td class='col-5'>
            Thể loại
          </td>
          <td class='col-7'>
            {{ service.product.category.name }}
          </td>
        </tr>
        <!-- số lượng start -->
        <tr>
          <td class='col-5'>
            Số lượng
          </td>
          <td class='col-7 '>
            <div class='btn-group' role='group' aria-label='Basic example'>
              <a type='button' class='bg-white text-1 border px-3 py-2'
                 (click)='service.setAmount(service.amount - 1)'>-</a>
              <input style='width: 40px' class='border text-center' type='number' [(ngModel)]='service.amount'>
              <a type='button' class='bg-white text-1 border px-3 py-2'
                 (click)='service.setAmount(service.amount + 1)'>+</a>
            </div>
            <p class='text-danger'>{{ service.amountMessage }}</p>
          </td>
        </tr>
        <!-- số lượng end -->

        </tBody>
      </table>
      <div style='margin-top: 20px'>
        <button [disabled]='service.amount <= 0 ' (click)='service.toCart()' type='button' class='btn btn-cart'
                style='margin-right: 20px;'>
          <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-cart-plus'
               viewBox='0 0 16 16'>
            <path d='M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z' />
            <path
              d='M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z' />
          </svg>
          Thêm vào giỏ hàng
        </button>
        <button type='button' class='btn btn-buy'>Mua ngay</button>
        <span class='available'> còn {{ service.product.quantity }} sản phẩm</span>
      </div>
    </div>
    <!-- content customer, buyer end-->
  </div>
</div>
<app-footer></app-footer>
